.idea/
.tox/
__pycache__/
.ipynb_checkpoints/
tests/output/
dist/
db/

.DS_Store
.template.db
.vscode
.venv

docs/_build/
docs/src/
docs/datamodels/*/*.md

notebooks/output/*json
notebooks/output/*tsv
notebooks/input/*
notebooks/*/output/*json
notebooks/*/output/*tsv
notebooks/api-key.txt

.coverage.*
.coverage
coverage.*
tests/input/fhirjson_conf.json

oak_hp.profile
oak_semsimian_hp.profile
notebooks/demo.tsv
tests/input/obo_conf.yaml
tests/input/obojson_conf.yaml
