.idea
.vscode
__pycache__
.ipynb_checkpoints/
docs/_build/
docs/src/
docs/datamodels/*/*.md
tests/output/

dist/
db/

notebooks/output/*json
notebooks/output/*tsv
notebooks/input/*


notebooks/api-key.txt

.template.db
.venv
.tox/
.coverage.*

