name: Sphinx Documentation
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    
    - name: Set up Python 3.
      uses: actions/setup-python@v6.2.0
      with:
        python-version: 3.12

    - name: Install uv
      uses: astral-sh/setup-uv@v7.3.0

    - name: Execute make file command.
      run: uv run make make-docs

    - name: Deploy documentation.
      if: ${{ github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@v4.3.0
      with:
        branch: gh-pages
        force: true
        folder: gh-pages
